@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

.back {
    height: 100vh;
    width: 100%;
    padding: 9px;
    text-align: center;
}

.img1 {
    margin: 10px;
    height: 120px;
    width: 180px;
    border-radius: 25px;
}

h1 {
    font-size: 60px;
    font-family: 'Lobster', cursive;
}

.b1 {
    margin: 5px auto;
    background-color: #F0F0FF;
    height: 190px;
    width: 400px;
    border-radius: 25px;
    padding: 49px;
}

.button {
    margin: 10px;
    height: 60px;
    width: 95px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.increment { background-color: green; color: white; }
.decrement { background-color: red; color: white; }
.reset { background-color: gray; color: white; }
